<template>
  <require from="transaction-lookup"></require>
  <require from="profile"></require>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="/img/logo_sm.png">
          <span class="sr-only">UnitsPro</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${auth.session.name} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#profile" click.delegate="goToProfile()">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" click.delegate="auth.logout()">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container page-host">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#transaction-lookup" aria-controls="transaction-lookup" role="tab" data-toggle="tab" id="tab-tl">Transaction Lookup</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" id="tab-profile">Profile</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" id="tab-messages">Messages <span class="badge">3</span></a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="transaction-lookup" as-element="transaction-lookup"></div>
      <div role="tabpanel" class="tab-pane" id="profile" as-element="profile"></div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
    </div>
  </div>
</template>
