<template>
  <form class="login-form" submit.delegate="login()">
		<div class="panel panel-default">
			<div class="panel-body">
		  	<img src="img/logo.png" />
		    <input class="form-control" type="text" placeholder="Username" value.bind="username" />
		    <input class="form-control" type="password" placeholder="Password" value.bind="password" />
		    <button class="btn btn-primary pull-right" disabled.bind="isLoggingIn" type="submit">
					<i class="fa fa-spinner fa-pulse" if.bind="isLoggingIn"></i> Login
				</button>
		    <span class="text-danger">${error}</span>
			</div>
		</div>
  </form>
</template>
