<template>
    <require from="components/Dirty"></require>
    <div class="row">
        <div class="col col-md-4">
            <div class="img-thumbnail" style="width: 100%; height: 375px; text-align: center; display: flex; align-items: center;">
                <i class="glyphicon glyphicon-user" style="font-size: 100pt; width: 100%;"></i>
            </div>
        </div>
        <div class="col col-md-8">
            <form dirty.bind="isDirty" submit.delegate="saveProfile()">
                <fieldset disabled.bind="loading">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First" value.bind="user.Person.FirstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last" value.bind="user.Person.LastName">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" value.bind="user.UserName" disabled.bind="true">
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        <input type="email" class="form-control" id="emailAddress" placeholder="Email" value.bind="user.EmailAddress">
                    </div>
                    <div class="form-group">
                        <label for="lastPassword">Last password change date</label>
                        <input type="email" class="form-control" id="lastPassword" value.bind="user.LastPasswordChangeDate" disabled.bind="true">
                    </div>
                </fieldset>
                <button disabled.bind="!isDirty||loading" type="submit" class="btn btn-primary pull-right">
                    <i class="fa fa-spinner fa-pulse" if.bind="loading"></i> Save
                </button>
                <button disabled.bind="true" type="button" class="btn btn-default pull-right" style="margin-right: 20px;">
                    Reset Password
                </button>
            </form>  
        </div> 
    </div> 
</template>