<template>
    <form class="form-inline" submit.delegate="search()">
        <div class="form-group">
            <label for="txnName">Transaction</label>
            <input type="text" class="form-control" placeholder="Transaction name" value.bind="txn.name" id="txnName" disabled.bind="loading">
        </div>
        <div class="form-group">
            <label for="txnWhen">WHEN</label>
            <input type="text" class="form-control" placeholder="WHEN condition" value.bind="txn.when" id="txnWhen" style="width: 300px;"  disabled.bind="loading">
        </div>
        <button class="btn btn-primary" type="submit" disabled.bind="!txn.name||loading">
            <i class="fa ${loading?'fa-spinner fa-pulse':'fa-search'}"></i> Search
        </button>
    </form>
    <section if.bind="txn.data" style="margin-top: 10px;">
        <div class="panel panel-primary">
            <div class="panel-heading">${txn.name}</div>
            <div style="overflow: auto; max-height: 75vh;">
                <table class="table">
                    <thead>
                        <tr>
                            <th repeat.for="th of table.headers">${th}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="tr of table.rows">
                            <td repeat.for="td of tr">${td}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</template>