html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 60px 0;
  background-color: #eee;
}

.navbar-brand img {
  max-height: 100%;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-host {
  padding-top: 60px;
  padding-bottom: 20px;
}

.tab-content {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  min-height: 75vh;
}

.login-form {
  width: 20vw;
  min-width: 380px;
  margin: 20vh auto;
}

.login-form .panel-body > * {
  display: block;
  margin: 12px auto;
}

.humane {
  width: auto !important;
  max-width: 350px;
}

@media print
{
  .page-host {
  position: absolute;
  left: 10px;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-y: inherit;
  overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-right {
  margin-right: 0!important;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid rgb(231, 231, 231);
  text-align: center;
  display: flex;
  align-items: center;
}

.pulse {
  padding: 0 0.4em;
  -webkit-animation: pulse 5s ease-in-out infinite;
  animation: pulse 5s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% { 
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% { 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  15% { 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% { 
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% { 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  15% { 
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}